@use "../base/variables.scss" as *;
@use "../base/mixins.scss" as *;

.additional {
  display: flex;
  flex-direction: column;
  width: 284px;
  list-style-type: none;
  padding-top: 31px;
  flex-wrap: wrap;
}

.additional__item {
  min-height: 113px;
  position: relative;
}

.additional__item--housing::before {
  position: absolute;
  content: "";
  background-image: url("../img/index-mobile/icon-house.svg");
  background-position: center;
  background-repeat: no-repeat;
  width: 39px;
  height: 37px;
  left: 0;
  top: 0;
}

.additional__item--food::before {
  position: absolute;
  content: "";
  background-image: url("../img/index-mobile/icon-burger.svg");
  background-position: center;
  background-repeat: no-repeat;
  width: 40px;
  height: 39px;
  left: 0;
  top: 0;
}

.additional__item--souvenir::before {
  position: absolute;
  content: "";
  background-image: url("../img/index-mobile/icon-gift.svg");
  background-position: center;
  background-repeat: no-repeat;
  width: 32px;
  height: 38px;
  left: 0;
  top: 0;
}

.additional__title {
  margin: 0;
  padding: 0;
  margin-left: 47px;
  margin-bottom: 16px;
  width: 150px;
}

.additional__description {
  margin: 0;
  padding: 0;
  margin-left: 47px;
  margin-bottom: 33px;
  width: 232px;
}

@media (max-width: $mobile-width-only) {
  .additional__brake-desktop {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .additional {
    flex-direction: row;
    width: 768px;
  }

  .additional__item {
    width: 256px;
    padding-top: 158px;
    padding-bottom: 61px;
  }

  .additional__item--housing::before {
    position: absolute;
    content: "";
    background-image: url("../img/index-tablet/icon-house.svg");
    background-position: center;
    background-repeat: no-repeat;
    width: 77px;
    height: 72px;
    left: 88px;
    top: 60px;
  }

  .additional__item--food::before {
    position: absolute;
    content: "";
    background-image: url("../img/index-tablet/icon-burger.svg");
    background-position: center;
    background-repeat: no-repeat;
    width: 80px;
    height: 68px;
    left: 88px;
    top: 60px;
  }

  .additional__item--souvenir::before {
    position: absolute;
    content: "";
    background-image: url("../img/index-tablet/icon-gift.svg");
    background-position: center;
    background-repeat: no-repeat;
    width: 67px;
    height: 75px;
    left: 88px;
    top: 60px;
  }

  .additional__title {
    @include text-reset;
    margin-bottom: 16px;
  }

  .additional__description {
    @include text-reset;
    width: 170px;
  }
}

@media (min-width: $desktop-width) {
  .additional {
    width: 1200px;
  }

  .additional__item {
    width: 400px;
    padding-top: 169px;
    padding-bottom: 69px;
  }

  .additional__item--housing::before {
    position: absolute;
    content: "";
    background-image: url("../img/index-desktop/icon-house-desktop.svg");
    background-position: center;
    background-repeat: no-repeat;
    width: 80px;
    height: 73px;
    left: 160px;
    top: 60px;
  }

  .additional__item--food::before {
    position: absolute;
    content: "";
    background-image: url("../img/index-desktop/icon-burger-desktop.svg");
    background-position: center;
    background-repeat: no-repeat;
    width: 73px;
    height: 69px;
    left: 160px;
    top: 60px;
  }

  .additional__item--souvenir::before {
    position: absolute;
    content: "";
    background-image: url("../img/index-desktop/icon-gift-desktop.svg");
    background-position: center;
    background-repeat: no-repeat;
    width: 78px;
    height: 75px;
    left: 160px;
    top: 60px;
  }

  .additional__description {
    @include text-reset;
    width: 282px;
  }
}
