@use "../base/variables.scss" as *;
@use "../base/mixins.scss" as *;

.advantages__preview {
  min-height: 157px;
  width: 284px;
  margin: 0 auto 15px;
  padding-top: 34px;
}

.advantages__list {
  @include list-reset;
  display: flex;
  flex-direction: column;
  background-color: #eeeeee;
  position: relative;
  padding-bottom: 4px;
  flex-wrap: wrap;
}

.advantages__item {
  min-height: 118px;
  padding-top: 23px;
}

.advantages__wrapper {
  background-color: $blue;
  display: grid;
}

.advantages__listing {
  padding-top: 70px;
  position: relative;
}


.advantages__additional {
  margin: 0 auto;
  padding: 0;
  margin-bottom: 13px;
}

.advantages__title {
  @include text-reset;
  margin-bottom: 14px;
}

.advantages__number {
  @include text-reset;
  display: block;
  margin-bottom: 17px;
}

.advantages__description {
  @include text-reset;
  margin-bottom: 37px;
  width: 262px;
}

.advantages__description-list {
  @include text-reset;
  margin-bottom: 23px;
  width: 256px;
}

.advantages__image {
  display: block;
  width: 100%;
}

@media (max-width: $mobile-width-only) {
  .advantages__listing--triangle::before {
    position: absolute;
    content: "";
    background-image: url("../img/stack.svg#icon-stripe-left");
    background-repeat: no-repeat;
    background-position: center;
    width: 161px;
    height: 37px;
    left: 0;
    top: 0;
  }

  .advantages__listing--triangle::after {
    position: absolute;
    content: "";
    background-image: url("../img/stack.svg#icon-stripe-right");
    background-repeat: no-repeat;
    background-position: center;
    width: 161px;
    height: 37px;
    right: 0;
    top: 0;
  }

  .advantages__listing--order {
    padding-top: 34px;
  }

  .advantages__item:not(:last-child)::after {
    position: absolute;
    content: "";
    border-bottom: 1px solid #d6d6d6;
    width: calc(100% - 36px);
    left: 18px;
  }

  .advantages__brake-tablet {
    display: none;
  }

  .advantages__brake-desktop {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .advantages__listing {
    padding-top: 52px;
    width: 256px;
  }

  .advantages__number {
    margin-bottom: 23px;
  }

  .advantages__description {
    margin-bottom: 30px;
    width: 190px;
  }

  .advantages__preview {
    min-height: 103px;
    width: 520px;
    margin-bottom: 55px;
    padding-top: 49px;
  }

  .advantages__wrapper {
    grid-template-columns: 1fr 2fr;
  }

  .advantages__wrapper--reverse {
    grid-template-columns: 2fr 1fr;
  }

  .advantages__title {
    width: 150px;
  }

  .advantages__description-list {
    width: 190px;
    margin-bottom: 0;
  }

  .advantages__listing--order {
    order: 1;
  }

  .advantages__additional {
    margin-bottom: 0;
  }

  .advantages__list {
    width: 768px;
    flex-direction: row;
    margin: 0;
  }

  .advantages__item {
    width: 256px;
    padding-top: 41px;
    padding-bottom: 38px;
  }

  .advantages__brake-desktop {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .advantages__preview {
    width: 484px;
    margin-bottom: 45px;
    padding-top: 59px;
  }

  .advantages__list {
    width: 1200px;
  }

  .advantages__listing {
    width: 400px;
  }

  .advantages__item {
    width: 400px;
    padding-top: 52px;
    padding-bottom: 48px;
  }

  .advantages__description {
    width: 262px;
  }

  .advantages__description-list {
    width: 284px;
  }

  .advantages__brake-desktop {
    display: inline;
  }
}
