@use "../base/variables.scss" as *;
@use "../base/mixins.scss" as *;

.button {
  display: block;
  background-color: $blue;
  color: $white;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  text-decoration: none;
  border: none;
  cursor: pointer;
  margin: 0 auto;
  padding-top: 16px;
  padding-bottom: 16px;
}

@media (min-width: $tablet-width) {
  .button {
    padding-top: 15px;
    padding-bottom: 18px;
  }
}

@media (min-width: $desktop-width) {
  .button {
    padding-top: 16px;
    padding-bottom: 17px;
  }
}
