@use "../base/variables.scss" as *;
@use "../base/mixins.scss" as *;

.button {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  font-display: swap;
  display: block;
  background-color: $blue;
  color: $white;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  text-decoration: none;
  border: none;
  cursor: pointer;
  padding-top: 16px;
  padding-bottom: 16px;
}

.button--modal {
  margin: 0 auto;
  width: 180px;
  padding: 18px 64px 14px 63px;
  font-size: 18px;
  text-transform: uppercase;

  &:hover {
    background-color: #669ec0;
  }

  &:active {
    background-color: #5496bd;
    color: rgb(255, 255, 255, 0.3);
  }

  &:focus {
    outline: none;
    background-color: #5496bd;
  }

  &:disabled {
    background-color: #e5e5e5;
  }
}

.button--modal-review {
  width: 280px;
  padding: 18px 62px 14px 60px;
  font-size: 18px;
  text-transform: uppercase;
  bottom: 20px;
  left: 20px;
  z-index: 3;

  &:hover {
    background-color: #669ec0;
  }

  &:active {
    background-color: #5496bd;
    color: rgb(255, 255, 255, 0.3);
  }

  &:focus {
    outline: none;
    background-color: #5496bd;
  }

  &:disabled {
    background-color: #e5e5e5;
  }
}

@media (min-width: $tablet-width) {
  .button {
    padding-top: 15px;
    padding-bottom: 18px;
  }

  .button--modal {
    margin: 0 auto;
    width: 272px;
    padding: 18px 107px 14px 108px;
    font-size: 21px;
  }

  .button--modal-review {
    font-size: 21px;
    width: 458px;
    padding: 18px 140px 14px 139px;
  }
}

@media (min-width: $desktop-width) {
  .button {
    padding-top: 16px;
    padding-bottom: 17px;
  }
}
