@use "../base/mixins.scss" as *;
@use "../base/variables.scss" as *;

.checkbox__label {
  display: inline-block;
  padding-left: 62px;
  position: relative;
  min-height: 46px;
  padding-top: 10px;
  cursor: pointer;
  max-width: 250px;

  &::before {
    content: "";
    position: absolute;
    width: 46px;
    height: 46px;
    display: block;
    background-color: #f2f2f2;
    top: 0;
    left: 0;
  }

  &::after {
    content: "";
    position: absolute;
    mask: url("../img/stack.svg#icon-tick");
    mask-repeat: no-repeat;
    mask-position: center;
    background-color: $grey;
    width: 22px;
    height: 16px;
    top: 15px;
    left: 12px;
    display: none;
  }

  &:hover::before {
    background-color: #e5e5e5;
  }

  &:active::before {
    background-color: #d5d5d5;
  }

  &:active::after {
    background-color: rgb(51, 51, 51, 0.3);
  }

  &:disabled {
    background-color: #e5e5e5;
    color: $white;
  }
}

.checkbox__input:focus + .checkbox__label {
  outline: 2px solid #e5e5e5;
}

.checkbox__input:checked + .checkbox__label::after {
  display: block;
}
