@use "../base/variables.scss" as *;
@use "../base/mixins.scss" as *;

.copyright {
  width: 129px;
}

.copyright__text {
  @include text-reset;

  &:hover {
    color: $blue;
  }

  &:active {
    color: #b3b3b3;
  }
}

.copyright__link {
  display: flex;
  align-items: center;
  margin-left: auto;
  text-decoration: none;

  &::after {
    content: "";
    display: block;
    mask: url("../img/stack.svg#academy-icon");
    mask-repeat: no-repeat;
    mask-position: center;
    background-color: $black;
    width: 29px;
    height: 35px;
    margin-left: 12px;
  }
}

.copyright__link:hover::after {
  background-color: $blue;
}

.copyright__link:active::after {
  background-color: #b3b3b3;
}
