@use "../base/variables.scss" as *;
@use "../base/mixins.scss" as *;

.copyright {
  width: 130px;
}

.copyright__link {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: auto;
  text-decoration: none;
  color: $black;

  &:hover {
    color: $blue;
  }

  &:active {
    color: #b3b3b3;
  }

  &::after {
    content: "";
    display: block;
    mask: url("../img/stack.svg#academy-icon");
    mask-repeat: no-repeat;
    mask-position: center;
    background-color: $black;
    width: 29px;
    height: 35px;
    margin-left: 12px;
  }

  &:hover::after {
    background-color: $blue;
  }

  &:active::after {
    background-color: #b3b3b3;
    outline: none;
  }
}
