@use "../base/variables.scss" as *;

.description {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: $grey;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

.description--bright {
  color: $white;
}

.description--author {
  text-align: start;
  text-transform: none;
}

.description--card {
  font-weight: 700;
  color: $black;
  text-align: start;
}
