@use "../base/mixins.scss" as *;
@use "../base/variables.scss" as *;

.form {
  width: 280px;
}

.form__preview {
  margin: 0 auto 53px;
  padding-top: 36px;
}

.form__field {
  margin-bottom: 22px;
}

@media (min-width: $tablet-width) {
  .form {
    width: 648px;
  }

  .form__preview {
    margin-bottom: 108px;
    padding-top: 64px;
  }

}

@media (min-width: $desktop-width) {
  .form {
    width: 960px;
  }

  .form__preview {
    margin-bottom: 68px;
    padding-top: 115px;
  }
}
