@use "../base/variables.scss" as *;

.hero {
  position: relative;
}

.hero__wrapper {
  background-color: #6999c1;
  background-image: url("../img/index-mobile/hero-index.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 389px;
  padding-top: 90px;
  padding-bottom: 85px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/index-mobile/hero-index@2x.jpg");
    background-size: cover;
    background-position: center;
  }
}

@media (max-width: $mobile-width-only) {
  .hero__wrapper::before {
    content: "";
    position: absolute;
    background-image: url("../img/index-mobile/vector-left.svg");
    background-repeat: no-repeat;
    background-position: left;
    width: 160px;
    height: 57px;
    z-index: 4;
    bottom: 0;
    left: 0;
  }

  .hero__wrapper::after {
    content: "";
    position: absolute;
    background-image: url("../img/index-mobile/vector-right.svg");
    background-repeat: no-repeat;
    background-position: right;
    width: 160px;
    height: 57px;
    z-index: 4;
    bottom: 0;
    right: 0;
  }
}

.hero__image {
  display: block;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .hero__wrapper {
    min-height: 518px;
    background-image: url("../img/index-tablet/hero-index-tablet.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 77px;
    padding-bottom: 91px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/index-tablet/hero-index-tablet@2x.jpg");
      background-size: cover;
      background-position: center;
    }
  }

  .hero__wrapper::before {
    content: "";
    position: absolute;
    background-image: url("../img/index-tablet/vector_bottom_tablet.svg");
    background-repeat: no-repeat;
    background-position: bottom;
    width: 768px;
    height: 57px;
    z-index: 4;
    bottom: 0;
    left: 0;
  }
}

@media (min-width: $desktop-width) {
  .hero__wrapper {
    background-image: url("../img/index-desktop/hero-index-desktop.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 78px;
    padding-bottom: 90px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/index-desktop/hero-index-desktop@2x.jpg");
      background-size: cover;
      background-position: center;
    }
  }

  .hero__wrapper::before {
    content: "";
    position: absolute;
    background-image: url("../img/index-desktop/bottom-line-desktop.svg");
    background-repeat: no-repeat;
    background-position: bottom;
    width: 1200px;
    height: 57px;
    z-index: 4;
    bottom: 0;
    left: 0;
  }
}

