@use "../base/variables.scss" as *;
@use "../base/mixins.scss" as *;


.interest {
  margin: 0 auto;
  padding-top: 38px;
  padding-bottom: 49px;
  width: 284px;
  min-height: 287px;
}

.interest__title {
  @include text-reset;
  margin-bottom: 32px;
}

.interest__description {
  @include text-reset;
  margin-bottom: 32px;
  width: 262px;
}

.interest__button {
  margin: 0 auto;
  padding-top: 16px;
  padding-bottom: 16px;
}

@media (max-width: $mobile-width-only) {
  .interest__brake-tablet {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .interest {
    width: 458px;
    min-height: 318px;
    padding-top: 60px;
    padding-bottom: 55px;
  }

  .interest__title {
    margin-bottom: 44px;
  }

  .interest__description {
    margin-bottom: 44px;
    width: 435px;
  }
}

@media (min-width: $desktop-width) {
  .interest {
    min-height: 331px;
    padding-bottom: 67px;
  }
}
