.main-container__hero {
  margin-bottom: 32px;
}

.main-container__interest {
  margin-bottom: 49px;
}

.main-container__map {
  margin-bottom: 41px;
}

.main-container__hero-catalog {
  margin-bottom: 30px;
}

.main-container__presentation {
  margin-bottom: 17px;
}
