@use "../base/variables.scss" as *;
@use "../base/mixins.scss" as *;


.main-footer__hashtag {
  @include text-reset;
  margin-bottom: 30px;
}

.main-footer__wrapper {
  width: 156px;
  min-height: 235px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding-top: 41px;
  padding-bottom: 33px;
}

.main-footer__social {
  @include list-reset;
  margin-bottom: 30px;
}

.main-footer__copyright {
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .main-footer__wrapper {
    flex-direction: row;
    align-items: center;
    width: 648px;
    min-height: 120px;
    padding-top: 35px;
    padding-bottom: 36px;
  }

  .main-footer__hashtag {
    margin: 0;
  }

  .main-footer__social {
    margin: 0;
    margin-left: 114px;
  }

  .main-footer__copyright {
    margin: 0;
    margin-left: auto;
  }
}

@media (min-width: $desktop-width) {
  .main-footer__wrapper {
    width: 960px;
  }

  .main-footer__social {
    margin: 0;
    margin-left: 270px;
  }
}
