@use "../base/variables.scss" as *;
@use "../base/mixins.scss" as *;

.main-header {
  display: flex;
  min-height: 56px;
  position: relative;
}

.main-header__logo {
  position: absolute;
  top: 0;
  left: 67px;
  z-index: 2;

  &:focus {
    outline: 3px solid $blue;
    border-radius: 4px;
  }
}

@media (min-width: $tablet-width) {
  .main-header__logo {
    z-index: 4;
    left: 50%;
    transform: translateX(-50%);
  }
}
