@use "../base/variables.scss" as *;
@use "../base/mixins.scss" as *;

.main-nav {
  display: flex;
  position: absolute;
  z-index: 3;
}

.main-nav__toggle {
  width: 23px;
  height: 22px;
  display: block;
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 16px;
  z-index: 2;
  border: none;
  background-color: $blue;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  background-color: $white;
  width: 23px;
  height: 4px;
  top: -2px;
  left: 0;
  box-shadow: 0 8px 0 0 $white, 0 16px 0 0 $white;
}

/*
.main-nav--closed .main-nav__toggle:hover::before {
  background-color: $blue;
  box-shadow: 0 8px 0 0 $blue, 0 16px 0 0 $blue;
  opacity: 0.6;
}
*/

/*.main-nav--opened .main-nav__toggle {
  display: none;
}
*/

.main-nav--opened .main-nav__toggle {
  &::before,
  &::after {
    content: "";
    position: absolute;
    background-color: $white;
    width: 29px;
    height: 4px;
    top: 10px;
    left: -2px;
  }

  &::before {
    transform: rotate(45deg);
  }


  &::after {
    transform: rotate(-45deg);
  }

  &:hover::before,
  &:hover::after {
    opacity: 0.6;
  }

  &:active::before,
  &:active::after {
    opacity: 0.3;
  }
}

.main-nav__list {
  @include list-reset;
  background-color: $blue;
  display: block;
  text-align: center;
  width: 320px;
}

.main-nav__nojs .main-nav__toggle {
  display: none;
}

.main-nav__nojs .main-nav__wrapper {
  position: static;
  min-height: none;
}

.main-nav__nojs .main-nav__list {
  display: block;
}

@media (max-width: $mobile-width-only) {
  .main-nav--closed .main-nav__item {
    display: none;
  }

  .main-nav__item {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(1, 1, 1, 0.2);
    padding: 17px 70px 12px 70px;
  }

  .main-nav__item--shadow {
    border-bottom: 0;
  }


  .main-nav__item--shadow::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
    height: 7px;
    width: 100%;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
  }

  /* .main-nav--opened .main-nav__item {
    display: none;
  }

  .main-nav--opened .main-nav__toggle {
    display: none;
  }
  */
}

@media (min-width: $tablet-width) {
  .main-nav__list {
    background-color: $white;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    width: 100%;
    margin: 0 auto;
  }

  .main-nav__item:nth-child(4n-1) {
    margin-left: 153px;
  }

  .main-nav__item {
    width: 153px;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__link {
    display: block;
    padding-top: 18px;
    padding-bottom: 17px;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__item {
    width: 240px;
  }

  .main-nav__item:nth-child(4n-1) {
    margin-left: 240px;
  }
}
