@use "../base/variables.scss" as *;

.page {
  display: flex;
  flex-direction: column;
  background-color: $white;
  width: 320px;
}


@media (min-width: $tablet-width) {
  .page {
    width: 768px;
  }
}


@media (min-width: $desktop-width) {
  .page {
    width: 1200px;
    margin: 0 auto;
  }
}
