@use "../base/mixins.scss" as *;
@use "../base/variables.scss" as *;

.photo-day {
  width: 280px;
  // padding-top: 24px;
  // padding-bottom: 25px;
  position: relative;
}

.photo-day__link {
  display: block;
  cursor: pointer;
  margin-bottom: 15px;
}

.photo-day__image {
  display: block;
}

.photo-day__desktop-style {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.photo-day__describe {
  margin-bottom: 16px;
}

.photo-day__photo-title {
  margin: 0;
  margin-bottom: 1px;
  padding: 0;
}

.photo-day__photo-author {
  margin: 0;
  padding: 0;
}

.photo-day__photo-like {
  padding-left: 37px;
  position: relative;
}

.photo-day__photo-like::before {
  position: absolute;
  content: "";
  background-image: url("../img/stack.svg#icon-like-grey");
  background-position: center;
  background-repeat: no-repeat;
  width: 23px;
  height: 21px;
  bottom: 5px;
  left: 0;
}

@media (max-width: $mobile-width-only) {
  .photo-day::before {
    position: absolute;
    content: "";
    border-bottom: 1px solid #e5e5e5;
    width: 320px;
    top: -26px;
    right: -20px;
  }

  // .photo-day::after {
  //   position: absolute;
  //   content: "";
  //   border-bottom: 1px solid #e5e5e5;
  //   width: 320px;
  //   bottom: 0;
  //   right: -20px;
  // }
}

@media (min-width: $tablet-width) {
  .photo-day {
    width: 648px;
    background-color: #f2f2f2;
    padding-top: 0;
  }

  .photo-day__describe {
    width: 250px;
    margin: 0;
    margin-bottom: 15px;
  }

  .photo-day__link {
    margin-bottom: 22px;
  }

  .photo-day__photo-title {
    padding-left: 20px;
  }

  .photo-day__photo-author {
    padding-left: 20px;
    margin: 0;
  }

  .photo-day__desktop-style {
    flex-direction: row;
  }

  .photo-day__photo-like {
    padding: 0;
    padding-top: 10px;
    margin-left: 346px;
  }

  .photo-day__photo-like::before {
    bottom: 31px;
    left: -32px;
  }

  .photo-day__image {
    width: 100%;
  }
}

@media (min-width: $desktop-width) {
  .photo-day {
    width: 1200px;
    padding-bottom: 0;
  }

  .photo-day__photo-title {
    padding-top: 22px;
  }

  .photo-day__desktop-style {
    position: absolute;
    width: 1200px;
    min-height: 80px;
    background-color: rgb(0, 0, 0, 0.3);
    bottom: 0;
  }

  .photo-day__photo-like--count::before {
    background-image: url("../img/stack.svg#icon-like-white");
    left: -32px;
  }

  .photo-day__link {
    margin-bottom: 0;
  }
}
