@use "../base/mixins.scss" as *;
@use "../base/variables.scss" as *;

.presentation__preview {
  min-height: 141px;
  width: 280px;
  margin: 0 auto 36px;
  padding-top: 38px;
}

.presentation__list {
  margin: 0 auto;
  padding: 0;
}

.presentation__video {
  margin-bottom: 33px;
}

@media (min-width: $tablet-width) {
  .presentation {
    width: 648px;
  }

  .presentation__preview {
    min-height: 114px;
    width: 445px;
    margin-bottom: 81px;
    padding-top: 66px;
  }
}

@media (min-width: $desktop-width) {
  .presentation {
    width: 1200px;
  }

  .presentation__preview {
    min-height: 122px;
    margin-bottom: 87px;
    padding-top: 100px;
  }
}
