@use "../base/mixins.scss" as *;

.presentation__list {
  @include list-reset;
  margin-left: 20px;
  margin-right: 20px;
}

.presentation__item {
  margin-bottom: 25px;
}

.presentation__photo {
  margin: 0;
  padding: 0;
}

.presentation__video {
  margin-bottom: 33px;
}
