@use "../base/mixins.scss" as *;
@use "../base/variables.scss" as *;

.preview__title-index {
  margin: 0 auto 36px;
  text-align: center;
  width: 260px;
}

.preview__description-index {
  @include text-reset;
}

.preview__title-catalog {
  margin: 0 auto 25px;
  text-align: center;
  width: 260px;
}

.preview__description-catalog {
  @include text-reset;
}

.preview__title-form {
  margin: 0 auto 25px;
  text-align: center;
  width: 260px;
}

.preview__description-form {
  @include text-reset;
}

@media (min-width: $tablet-width) {
  .preview__title-index {
    width: 520px;
    margin-bottom: 29px;
  }

  .preview__title-catalog {
    width: 445px;
    margin-bottom: 32px;
  }

  .preview__description-catalog {
    width: 445px;
  }

  .preview__title-form {
    width: 317px;
    margin-bottom: 20px;
  }

  .preview__description-form {
    width: 436px;
  }
}

@media (min-width: $desktop-width) {
  .preview__title-index {
    width: 484px;
  }

  .preview__description-index {
    width: 490px;
  }

  .preview__title-form {
    margin-bottom: 30px;
  }
}
