@use "../base/mixins.scss" as *;
@use "../base/variables.scss" as *;

.radio__label {
  display: inline-block;
  padding-left: 62px;
  position: relative;
  min-height: 46px;
  padding-top: 10px;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    width: 46px;
    height: 46px;
    display: block;
    background-color: #f2f2f2;
    border-radius: 50%;
    top: 0;
    left: 0;
  }

  &::after {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    display: none;
    background-color: $grey;
    border-radius: 50%;
    top: 15px;
    left: 15px;
  }

  &:hover::before {
    background-color: #e5e5e5;
  }

  &:active::before {
    background-color: #d5d5d5;
  }

  &:active::after {
    background-color: rgb(51, 51, 51, 0.3);
  }
}

.radio__input:focus + .radio__label {
  outline: 2px solid #e5e5e5;
}

.radio__input:checked + .radio__label::after {
  display: block;
}
