@use "../base/variables.scss" as *;
@use "../base/mixins.scss" as *;

.social {
  display: flex;
  width: 156px;
  align-items: center;
  flex-wrap: wrap;
}

.social__item {
  width: 48px;
}

.social__item:not(:last-child) {
  margin-right: 6px;
}

.social__item:nth-child(n+4) {
  margin-top: 6px;
}

.social__link {
  display: block;
  height: 48px;
  background-color: $blue;
  cursor: pointer;
  position: relative;

  &:hover {
    background-color: #669ec0;
  }

  &:active {
    background-color: #5496bd;
  }
}

.social__link--vkontakte {
  &::after {
    mask: url("../img/stack.svg#icon-vk") no-repeat center;
    width: 24px;
    height: 24px;
    content: "";
    position: absolute;
    background-color: $white;
    top: 12px;
    left: 12px;
  }

  &:active::after {
    background-color: rgb(255, 255, 255, 0.3);
  }
}

.social__link--telegram {
  &::after {
    mask: url("../img/stack.svg#icon-tg") no-repeat center;
    width: 22px;
    height: 18px;
    content: "";
    position: absolute;
    background-color: $white;
    top: 14px;
    left: 12px;
  }

  &:active::after {
    background-color: rgb(255, 255, 255, 0.3);
  }
}

.social__link--youtube {
  &::after {
    mask: url("../img/stack.svg#icon-youtube") no-repeat center;
    width: 20px;
    height: 14px;
    content: "";
    position: absolute;
    background-color: $white;
    top: 16px;
    left: 15px;
  }

  &:active::after {
    background-color: rgb(255, 255, 255, 0.3);
  }
}
