@use "../base/variables.scss" as *;

.title {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  text-decoration: none;
  color: $black;
}

.title--bright {
  color: $white;
}

.title--lowercase {
  text-transform: none;
  text-align: start;
}

.title--nav {
  color: $white;
}

.title--nav-current {
  color: $white;
}

.title--footer {
  font-size: 21px;
}

.title--index {
  font-size: 21px;
}


@media (min-width: $tablet-width) {
  .title {
    font-size: 21px;
  }

  .title--lowercase {
    font-size: 18px;
  }

  .title--nav {
    color: $black;
    font-size: 14px;
    line-height: 21px;
  }

  .title--nav-current {
    color: #766357;
    font-size: 14px;
    line-height: 21px;
  }

  .title--index {
    font-size: 30px;
    line-height: 26px;
  }

  .title--catalog {
    font-size: 30px;
    line-height: 26px;
  }

  .title--modal {
    font-size: 30px;
    line-height: 40px;
  }
}


@media (min-width: $desktop-width) {
  .title--index {
    line-height: 30px;
  }
}
