@use "../base/mixins.scss" as *;
@use "../base/variables.scss" as *;

.video {
  width: 280px;
}

.video__interest {
  margin: 0 auto;
  padding-left: 2px;
}

.video__player {
  display: block;
}

.video__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.video__start--img {
  position: absolute;
  content: "";
  mask: url("../img/stack.svg#icon-polygon");
  mask-position: center;
  mask-repeat: no-repeat;
  width: 48px;
  height: 54px;
  border: none;
  cursor: pointer;
}

@media (min-width: $tablet-width) {
  .video {
    width: 648px;
  }

  .video__interest {
    padding: 0;
  }

  .video__player {
    width: 100%;
  }
}

@media (min-width: $desktop-width) {
  .video {
    width: 800px;
  }
}
