@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans.woff2") format("woff2"), url("../fonts/ptsans.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsansbold.woff2") format("woff2"), url("../fonts/ptsansbold.woff") format("woff");
  font-display: swap;
}
body {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #ffffff;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

@media (min-width: 1200px) {
  body {
    min-width: 1280px;
    height: 100vh;
    background-color: #e7e5e5;
  }
}
.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 320px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .page-wrapper {
    width: 768px;
  }
}
@media (min-width: 1200px) {
  .page-wrapper {
    width: 1200px;
    margin: 0 auto;
    box-shadow: 4px 0 4px rgba(0, 0, 0, 0.25);
  }
}
.advantages__preview {
  min-height: 157px;
  width: 284px;
  margin: 0 auto 16px;
  padding-top: 32px;
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  background-color: #eeeeee;
  position: relative;
  padding-bottom: 4px;
  flex-wrap: wrap;
}

.advantages__item {
  min-height: 118px;
  padding-top: 24px;
}

.advantages__wrapper {
  background-color: #81b3d2;
  display: grid;
}

.advantages__listing {
  padding-top: 70px;
}

.advantages__additional {
  margin: 0 auto;
  padding: 0;
  margin-bottom: 13px;
}

.advantages__title {
  margin: 0 auto;
  padding: 0;
  text-align: center;
  margin-bottom: 11px;
}

.advantages__number {
  margin: 0 auto;
  padding: 0;
  text-align: center;
  display: block;
  margin-bottom: 17px;
}

.advantages__description {
  margin: 0 auto;
  padding: 0;
  text-align: center;
  margin-bottom: 40px;
  width: 262px;
}

.advantages__description-list {
  margin: 0 auto;
  padding: 0;
  text-align: center;
  margin-bottom: 24px;
  width: 256px;
}

@media (max-width: 767px) {
  .advantages__listing--stripe {
    background-image: url("../img/index-mobile/advantages-white-stripe.svg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100% auto;
  }

  .advantages__item:not(:last-child)::after {
    position: absolute;
    content: "";
    border-bottom: 1px solid #d6d6d6;
    width: calc(100% - 36px);
    left: 18px;
  }

  .advantages__brake-tablet {
    display: none;
  }

  .advantages__brake-desktop {
    display: none;
  }
}
@media (min-width: 768px) {
  .advantages__preview {
    min-height: 103px;
    width: 520px;
    margin-bottom: 55px;
    padding-top: 47px;
  }

  .advantages__wrapper {
    grid-template-columns: 1fr 2fr;
  }

  .advantages__wrapper--reverse {
    grid-template-columns: 2fr 1fr;
  }

  .advantages__title {
    width: 150px;
  }

  .advantages__description {
    width: 190px;
  }

  .advantages__description-list {
    width: 190px;
    margin-bottom: 0;
  }

  .advantages__listing {
    min-height: 256px;
    width: 256px;
  }

  .advantages__listing--order {
    order: 1;
  }

  .advantages__additional {
    margin-bottom: 0;
  }

  .advantages__list {
    width: 768px;
    flex-direction: row;
    margin: 0;
  }

  .advantages__item {
    width: 256px;
    padding-top: 41px;
    padding-bottom: 41px;
  }

  .advantages__brake-desktop {
    display: none;
  }
}
@media (min-width: 1200px) {
  .advantages__preview {
    width: 484px;
    margin-bottom: 44px;
    padding-top: 59px;
  }

  .advantages__list {
    width: 1200px;
  }

  .advantages__listing {
    width: 400px;
  }

  .advantages__item {
    width: 400px;
    padding-top: 52px;
    padding-bottom: 52px;
  }

  .advantages__description {
    width: 262px;
  }

  .advantages__description-list {
    width: 284px;
  }

  .advantages__brake-desktop {
    display: inline;
  }
}
.additional {
  display: flex;
  flex-direction: column;
  width: 284px;
  list-style-type: none;
  padding-top: 31px;
  flex-wrap: wrap;
}

.additional__item {
  min-height: 113px;
  position: relative;
}

.additional__item--housing::before {
  position: absolute;
  content: "";
  background-image: url("../img/index-mobile/icon-house.svg");
  background-position: center;
  background-repeat: no-repeat;
  width: 39px;
  height: 37px;
  left: 0;
  top: 0;
}

.additional__item--food::before {
  position: absolute;
  content: "";
  background-image: url("../img/index-mobile/icon-burger.svg");
  background-position: center;
  background-repeat: no-repeat;
  width: 40px;
  height: 39px;
  left: 0;
  top: 0;
}

.additional__item--souvenir::before {
  position: absolute;
  content: "";
  background-image: url("../img/index-mobile/icon-gift.svg");
  background-position: center;
  background-repeat: no-repeat;
  width: 32px;
  height: 38px;
  left: 0;
  top: 0;
}

.additional__title {
  margin: 0;
  padding: 0;
  margin-left: 47px;
  margin-bottom: 16px;
  width: 150px;
}

.additional__description {
  margin: 0;
  padding: 0;
  margin-left: 47px;
  margin-bottom: 33px;
  width: 232px;
}

@media (max-width: 767px) {
  .additional__brake-desktop {
    display: none;
  }
}
@media (min-width: 768px) {
  .additional {
    flex-direction: row;
    width: 768px;
  }

  .additional__item {
    width: 256px;
    padding-top: 158px;
    padding-bottom: 61px;
  }

  .additional__item--housing::before {
    position: absolute;
    content: "";
    background-image: url("../img/index-tablet/icon-house.svg");
    background-position: center;
    background-repeat: no-repeat;
    width: 77px;
    height: 72px;
    left: 88px;
    top: 60px;
  }

  .additional__item--food::before {
    position: absolute;
    content: "";
    background-image: url("../img/index-tablet/icon-burger.svg");
    background-position: center;
    background-repeat: no-repeat;
    width: 80px;
    height: 68px;
    left: 88px;
    top: 60px;
  }

  .additional__item--souvenir::before {
    position: absolute;
    content: "";
    background-image: url("../img/index-tablet/icon-gift.svg");
    background-position: center;
    background-repeat: no-repeat;
    width: 67px;
    height: 75px;
    left: 88px;
    top: 60px;
  }

  .additional__title {
    margin: 0 auto;
    padding: 0;
    text-align: center;
    margin-bottom: 16px;
  }

  .additional__description {
    margin: 0 auto;
    padding: 0;
    text-align: center;
    width: 170px;
  }
}
@media (min-width: 1200px) {
  .additional {
    width: 1200px;
  }

  .additional__item {
    width: 400px;
    padding-top: 169px;
    padding-bottom: 69px;
  }

  .additional__item--housing::before {
    position: absolute;
    content: "";
    background-image: url("../img/index-desktop/icon-house-desktop.svg");
    background-position: center;
    background-repeat: no-repeat;
    width: 80px;
    height: 73px;
    left: 160px;
    top: 60px;
  }

  .additional__item--food::before {
    position: absolute;
    content: "";
    background-image: url("../img/index-desktop/icon-burger-desktop.svg");
    background-position: center;
    background-repeat: no-repeat;
    width: 73px;
    height: 69px;
    left: 160px;
    top: 60px;
  }

  .additional__item--souvenir::before {
    position: absolute;
    content: "";
    background-image: url("../img/index-desktop/icon-gift-desktop.svg");
    background-position: center;
    background-repeat: no-repeat;
    width: 78px;
    height: 75px;
    left: 160px;
    top: 60px;
  }

  .additional__description {
    margin: 0 auto;
    padding: 0;
    text-align: center;
    width: 282px;
  }
}
.interest {
  width: 284px;
}

.interest--catalog {
  width: 266px;
}

.interest__title {
  margin: 0 auto;
  padding: 0;
  text-align: center;
  margin-bottom: 32px;
}

.interest__description {
  margin: 0 auto;
  padding: 0;
  text-align: center;
  margin-bottom: 32px;
  width: 262px;
}

.interest__button {
  margin: 0 auto;
  padding-top: 16px;
  padding-bottom: 16px;
}

.interest__catalog-title {
  margin: 0 auto;
  padding: 0;
  text-align: center;
  margin-bottom: 38px;
  width: 260px;
}

.interest__catalog-description {
  margin: 0 auto;
  padding: 0;
  text-align: center;
  margin-bottom: 38px;
  width: 260px;
}

@media (max-width: 767px) {
  .interest__brake-tablet {
    display: none;
  }
}
@media (min-width: 768px) {
  .interest {
    width: 458px;
  }

  .interest--catalog {
    width: 445px;
  }

  .interest__title {
    margin-bottom: 44px;
  }

  .interest__description {
    margin-bottom: 44px;
    width: 435px;
  }

  .interest__catalog-title {
    margin-bottom: 38px;
    width: 445px;
  }

  .interest__catalog-description {
    margin-bottom: 80px;
    width: 445px;
  }
}
@media (min-width: 1200px) {
  .interest__catalog-description {
    margin-bottom: 75px;
  }
}
.main-header {
  display: flex;
  min-height: 56px;
  position: relative;
}

.main-header__logo {
  position: absolute;
  top: 0;
  right: 67px;
  z-index: 2;
}

@media (min-width: 768px) {
  .main-header__logo {
    right: 38%;
    z-index: 4;
  }
}
@media (min-width: 1200px) {
  .main-header__logo {
    right: 42%;
  }
}
.preview__title-index {
  margin: 0 auto 35px;
  text-align: center;
  width: 260px;
}

.preview__description-index {
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.preview__title-catalog {
  margin: 0 auto 35px;
  text-align: center;
  width: 260px;
}

.preview__description-catalog {
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.preview__title-form {
  margin: 0 auto 29px;
  text-align: center;
  width: 260px;
}

.preview__description-form {
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

@media (min-width: 768px) {
  .preview__title-index {
    width: 520px;
  }

  .preview__title-catalog {
    width: 445px;
  }

  .preview__description-catalog {
    width: 445px;
  }

  .preview__title-form {
    width: 317px;
  }

  .preview__description-form {
    width: 436px;
  }
}
@media (min-width: 1200px) {
  .preview__title-index {
    width: 484px;
  }
}
.description {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  text-transform: uppercase;
  text-decoration: none;
}

.description--bright {
  color: #ffffff;
}

.description--author {
  text-transform: none;
}

.description--card {
  font-weight: 700;
  color: #000000;
}

.field {
  width: 280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.field__group {
  margin: 0;
  padding: 0;
  border: none;
  position: relative;
}

.field__title {
  margin: 0 auto 20px;
  text-align: center;
  padding-top: 24px;
}

.field__item--phone {
  position: relative;
}

.field__item--phone::before {
  position: absolute;
  content: "";
  width: 58px;
  height: 58px;
  background-color: #e6e6e6;
  right: 0;
  bottom: 0;
}

.field__item--phone::after {
  position: absolute;
  content: "";
  background-image: url("../img/form-mobile/phone-icon.svg");
  width: 18px;
  height: 18px;
  background-position: center;
  background-repeat: no-repeat;
  right: 20px;
  bottom: 20px;
}

.field__item--mail {
  position: relative;
}

.field__item--mail::before {
  position: absolute;
  content: "";
  width: 58px;
  height: 58px;
  background-color: #e6e6e6;
  right: 0;
  bottom: 0;
}

.field__item--mail::after {
  position: absolute;
  content: "";
  background-image: url("../img/form-mobile/mail-icon.svg");
  width: 18px;
  height: 18px;
  background-position: center;
  background-repeat: no-repeat;
  right: 20px;
  bottom: 20px;
}

.field__textarea {
  border: 0;
  background-color: #f2f2f2;
  min-height: 150px;
  width: 279px;
  padding: 16px;
  margin-bottom: 50px;
}

.field__button {
  padding-left: 49px;
  padding-right: 49px;
}

.field__necessarily {
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  display: block;
  text-align: right;
  margin-top: 3px;
}

.field__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.field__item {
  margin-bottom: 16px;
}

@media (max-width: 767px) {
  .field__title::before {
    position: absolute;
    content: "";
    border-bottom: 1px solid #e5e5e5;
    width: 320px;
    top: 0;
    right: -20px;
  }

  .field__br {
    display: none;
  }
}
@media (min-width: 768px) {
  .field {
    width: 648px;
  }

  .field__group-tablet {
    display: grid;
    grid-template-columns: 295px 295px;
    gap: 57px;
    margin-bottom: 46px;
  }

  .field__group-first::after {
    content: "";
    position: absolute;
    border-right: 1px solid #dbdbdb;
    left: 323px;
    top: -62px;
    bottom: 10px;
    width: 0;
  }

  .field__title {
    padding-top: 0;
    margin-bottom: 28px;
  }

  .field__group {
    position: relative;
  }

  .field__group-third::before {
    position: absolute;
    content: "";
    width: 123px;
    height: 1px;
    background-color: #dbdbdb;
    left: 0;
    top: -41px;
  }

  .field__group-third {
    margin-bottom: 30px;
  }

  .field__group-third::after {
    position: absolute;
    content: "";
    width: 123px;
    height: 1px;
    background-color: #dbdbdb;
    right: 0;
    top: -41px;
  }

  .field__list-radio {
    width: 575px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 280px 280px;
    column-gap: 16px;
  }

  .field__group-forth {
    margin-bottom: 25px;
  }

  .field__group-forth::before {
    position: absolute;
    content: "";
    width: 123px;
    height: 1px;
    background-color: #dbdbdb;
    left: 0;
    top: -55px;
  }

  .field__list-checkbox {
    width: 480px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 224px 224px;
    column-gap: 33px;
  }

  .field__group-forth::after {
    position: absolute;
    content: "";
    width: 123px;
    height: 1px;
    background-color: #dbdbdb;
    right: 0;
    top: -55px;
  }

  .field__group-fifth::before {
    position: absolute;
    content: "";
    width: 123px;
    height: 1px;
    background-color: #dbdbdb;
    left: 0;
    top: -42px;
  }

  .field__group-fifth::after {
    position: absolute;
    content: "";
    width: 123px;
    height: 1px;
    background-color: #dbdbdb;
    right: 0;
    top: -42px;
  }

  .field__textarea {
    min-height: 160px;
    width: 648px;
    margin-bottom: 43px;
  }

  .field__submit-area {
    display: flex;
    width: 648px;
    justify-content: space-between;
    align-items: center;
  }

  .field__button {
    padding-left: 71px;
    padding-right: 71px;
  }

  .field__necessarily {
    font-size: 14px;
    line-height: 21px;
  }
}
@media (min-width: 1200px) {
  .field {
    width: 960px;
  }

  .field__group-tablet {
    grid-template-columns: 430px 430px;
    gap: 100px;
    margin-bottom: 55px;
  }

  .field__group-first::after {
    content: "";
    position: absolute;
    border-right: 1px solid #dbdbdb;
    left: 480px;
    top: -62px;
    bottom: 10px;
    width: 0;
  }

  .field__group-third::before {
    width: 280px;
    top: -42px;
  }

  .field__group-third::after {
    width: 280px;
    top: -42px;
  }

  .field__list-radio {
    width: 852px;
    grid-template-columns: 280px 280px 280px;
    column-gap: 28px;
    padding-top: 17px;
    margin-bottom: 27px;
  }

  .field__group-forth::before {
    width: 280px;
    top: -55px;
  }

  .field__group-forth::after {
    width: 280px;
    top: -55px;
  }

  .field__list-checkbox {
    width: 871px;
    grid-template-columns: 172px 170px 153px 184px;
    column-gap: 64px;
    padding-top: 31px;
    margin-bottom: 46px;
  }

  .field__group-fifth::before {
    width: 280px;
    top: -41px;
  }

  .field__group-fifth::after {
    width: 280px;
    top: -41px;
  }

  .field__textarea {
    width: 768px;
    display: block;
    margin: 0 auto;
    margin-bottom: 48px;
  }

  .field__submit-area {
    width: 768px;
    margin: 0 auto;
  }

  .field__button {
    padding-left: 101px;
    padding-right: 101px;
  }

  .field__necessarily {
    margin-top: 8px;
  }
}
.field-input__input {
  border: none;
  background-color: #f2f2f2;
  padding: 16px;
  width: 280px;
}

.field-input__input--icon {
  padding-right: 74px;
}

.field-input__label {
  padding-left: 16px;
}

@media (min-width: 768px) {
  .field-input__input {
    width: 295px;
  }
}
@media (min-width: 1200px) {
  .field-input__input {
    width: 430px;
  }
}
.radio__label {
  display: inline-block;
  padding-left: 62px;
  position: relative;
  min-height: 46px;
  padding-top: 10px;
  cursor: pointer;
}
.radio__label::before {
  content: "";
  position: absolute;
  width: 46px;
  height: 46px;
  display: block;
  background-color: #f2f2f2;
  border-radius: 50%;
  top: 0;
  left: 0;
}
.radio__label::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  display: none;
  background-color: #333333;
  border-radius: 50%;
  top: 15px;
  left: 15px;
}

.radio__input:checked + .radio__label::after {
  display: block;
}

.checkbox__label {
  display: inline-block;
  padding-left: 62px;
  position: relative;
  min-height: 46px;
  padding-top: 10px;
  cursor: pointer;
}
.checkbox__label::before {
  content: "";
  position: absolute;
  width: 46px;
  height: 46px;
  display: block;
  background-color: #f2f2f2;
  top: 0;
  left: 0;
}
.checkbox__label::after {
  content: "";
  position: absolute;
  background-image: url("../img/form-mobile/tick.svg");
  background-position: center;
  background-repeat: no-repeat;
  width: 22px;
  height: 16px;
  top: 15px;
  left: 12px;
  display: none;
}

.checkbox__input:checked + .checkbox__label::after {
  display: block;
}

.form {
  width: 280px;
}

.form__preview {
  margin: 0 auto 28px;
  padding-top: 36px;
}

.form__field {
  margin-bottom: 22px;
}

@media (min-width: 768px) {
  .form {
    width: 648px;
  }

  .form__preview {
    margin-bottom: 108px;
    padding-top: 64px;
  }
}
@media (min-width: 1200px) {
  .form {
    width: 960px;
  }

  .form__preview {
    margin-bottom: 68px;
    padding-top: 120px;
  }
}
.hero-catalog {
  position: relative;
}

.hero-catalog__wrapper {
  background-color: #6999c1;
  background-image: url("../img/catalog-mobile/hero-catalog.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 158px;
  padding-top: 52px;
  padding-bottom: 67px;
}

.hero-catalog__image {
  display: block;
  margin: 0 auto;
}

@media (max-width: 767px) {
  .hero-catalog__wrapper::before {
    content: "";
    position: absolute;
    background-image: url("../img/index-mobile/vector-left.svg");
    background-repeat: no-repeat;
    background-position: left;
    width: 160px;
    height: 57px;
    z-index: 2;
    bottom: 0;
    left: 0;
  }

  .hero-catalog__wrapper::after {
    content: "";
    position: absolute;
    background-image: url("../img/index-mobile/vector-right.svg");
    background-repeat: no-repeat;
    background-position: right;
    width: 160px;
    height: 57px;
    z-index: 2;
    bottom: 0;
    right: 0;
  }
}
@media (min-width: 768px) {
  .hero-catalog__wrapper {
    min-height: 290px;
    padding-top: 95px;
    padding-bottom: 117px;
  }

  .hero-catalog__wrapper::before {
    content: "";
    position: absolute;
    background-image: url("../img/index-tablet/vector_bottom_tablet.svg");
    background-repeat: no-repeat;
    background-position: bottom;
    width: 768px;
    height: 57px;
    z-index: 4;
    bottom: 0;
    left: 0;
  }
}
@media (min-width: 1200px) {
  .hero-catalog__wrapper {
    padding-top: 101px;
    padding-bottom: 120px;
  }

  .hero-catalog__wrapper::before {
    content: "";
    position: absolute;
    background-image: url("../img/index-desktop/bottom-line-desktop.svg");
    background-repeat: no-repeat;
    background-position: bottom;
    width: 1200px;
    height: 57px;
    z-index: 4;
    bottom: 0;
    left: 0;
  }
}
.hero {
  position: relative;
}

.hero__wrapper {
  background-color: #6999c1;
  background-image: url("../img/index-mobile/hero-index.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 389px;
  padding-top: 90px;
  padding-bottom: 85px;
}

@media (max-width: 767px) {
  .hero__wrapper::before {
    content: "";
    position: absolute;
    background-image: url("../img/index-mobile/vector-left.svg");
    background-repeat: no-repeat;
    background-position: left;
    width: 160px;
    height: 57px;
    z-index: 4;
    bottom: 0;
    left: 0;
  }

  .hero__wrapper::after {
    content: "";
    position: absolute;
    background-image: url("../img/index-mobile/vector-right.svg");
    background-repeat: no-repeat;
    background-position: right;
    width: 160px;
    height: 57px;
    z-index: 4;
    bottom: 0;
    right: 0;
  }
}
.hero__image {
  display: block;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .hero__wrapper {
    min-height: 518px;
    background-image: url("../img/index-tablet/hero-index-tablet.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 77px;
    padding-bottom: 91px;
  }

  .hero__wrapper::before {
    content: "";
    position: absolute;
    background-image: url("../img/index-tablet/vector_bottom_tablet.svg");
    background-repeat: no-repeat;
    background-position: bottom;
    width: 768px;
    height: 57px;
    z-index: 4;
    bottom: 0;
    left: 0;
  }
}
@media (min-width: 1200px) {
  .hero__wrapper {
    padding-top: 78px;
    padding-bottom: 90px;
  }

  .hero__wrapper::before {
    content: "";
    position: absolute;
    background-image: url("../img/index-desktop/bottom-line-desktop.svg");
    background-repeat: no-repeat;
    background-position: bottom;
    width: 1200px;
    height: 57px;
    z-index: 4;
    bottom: 0;
    left: 0;
  }
}
.main-container__interest {
  margin: 0 auto;
  padding-top: 38px;
  padding-bottom: 49px;
}

.main-container__video {
  margin: 0 auto;
  padding-top: 17px;
}

.main-container__form {
  margin: 0 auto 22px;
}

@media (min-width: 768px) {
  .main-container__presentation {
    margin: 0 auto;
    margin-bottom: 58px;
  }

  .main-container__interest {
    padding-top: 60px;
    padding-bottom: 55px;
  }

  .main-container__video {
    margin: 0 auto;
    padding-top: 0;
    padding-bottom: 40px;
  }

  .main-container__form {
    margin-bottom: 64px;
  }
}
@media (min-width: 1200px) {
  .main-container__presentation {
    margin-bottom: 62px;
  }

  .main-container__interest {
    padding-bottom: 67px;
  }
}
.main-footer__hashtag {
  margin: 0 auto;
  padding: 0;
  text-align: center;
  margin-bottom: 30px;
}

.main-footer__wrapper {
  width: 156px;
  min-height: 235px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding-top: 33px;
  padding-bottom: 33px;
}

.main-footer__social {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-bottom: 30px;
}

.main-footer__copyright {
  margin: 0 auto;
}

@media (min-width: 768px) {
  .main-footer__wrapper {
    flex-direction: row;
    align-items: center;
    width: 648px;
    min-height: 120px;
    padding-top: 36px;
    padding-bottom: 36px;
  }

  .main-footer__hashtag {
    margin: 0;
  }

  .main-footer__social {
    margin: 0;
    margin-left: 113px;
  }

  .main-footer__copyright {
    margin: 0;
    margin-left: auto;
  }
}
@media (min-width: 1200px) {
  .main-footer__wrapper {
    width: 960px;
  }

  .main-footer__social {
    margin: 0;
    margin-left: 270px;
  }
}
.main-nav {
  display: flex;
  position: absolute;
  z-index: 3;
}

.main-nav__toggle {
  width: 23px;
  height: 22px;
  display: block;
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 17px;
  z-index: 2;
  border: none;
  background-color: #81b3d2;
}
.main-nav__toggle:hover {
  opacity: 0.6;
}
.main-nav__toggle:active {
  opacity: 0.3;
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  background-color: #ffffff;
  width: 23px;
  height: 4px;
  top: -2px;
  left: 0;
  box-shadow: 0 8px 0 0 #ffffff, 0 16px 0 0 #ffffff;
}

/*
.main-nav--closed .main-nav__toggle:hover::before {
  background-color: $blue;
  box-shadow: 0 8px 0 0 $blue, 0 16px 0 0 $blue;
  opacity: 0.6;
}
*/
.main-nav--opened .main-nav__toggle::before, .main-nav--opened .main-nav__toggle::after {
  content: "";
  position: absolute;
  background-color: #ffffff;
  width: 30px;
  height: 2px;
  top: 10px;
  left: -5px;
}
.main-nav--opened .main-nav__toggle::before {
  transform: rotate(45deg);
}
.main-nav--opened .main-nav__toggle::after {
  transform: rotate(-45deg);
}
.main-nav--opened .main-nav__toggle:hover::before, .main-nav--opened .main-nav__toggle:hover::after {
  opacity: 0.6;
}
.main-nav--opened .main-nav__toggle:active::before, .main-nav--opened .main-nav__toggle:active::after {
  opacity: 0.3;
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  background-color: #81b3d2;
  display: block;
  text-align: center;
  width: 320px;
}

.main-nav__nojs .main-nav__toggle {
  display: none;
}

.main-nav__nojs .main-nav__wrapper {
  position: static;
  min-height: none;
}

.main-nav__nojs .main-nav__list {
  display: block;
}

@media (max-width: 767px) {
  .main-nav--closed .main-nav__item {
    display: none;
  }

  .main-nav__item {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(1, 1, 1, 0.2);
    padding: 17px 70px 12px 70px;
  }

  .main-nav__item--shadow {
    border-bottom: 0;
  }

  .main-nav__item--shadow::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
    height: 7px;
    width: 100%;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
  }

  /* .main-nav--opened .main-nav__item {
    display: none;
  }

  .main-nav--opened .main-nav__toggle {
    display: none;
  }
  */
}
@media (min-width: 768px) {
  .main-nav__list {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    width: 100%;
    margin: 0 auto;
  }

  .main-nav__item:nth-child(4n-1) {
    margin-left: 153px;
  }

  .main-nav__item {
    width: 153px;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__link {
    display: block;
    padding-top: 18px;
    padding-bottom: 17px;
  }
}
@media (min-width: 1200px) {
  .main-nav__item {
    width: 240px;
  }

  .main-nav__item:nth-child(4n-1) {
    margin-left: 240px;
  }
}
.presentation__preview {
  min-height: 141px;
  width: 280px;
  margin: 0 auto 45px;
  padding-top: 30px;
}

.presentation__photo-day {
  margin: 0 auto;
}

.presentation__list {
  margin: 0 auto;
  padding: 0;
}

.presentation__video {
  margin-bottom: 33px;
}

@media (min-width: 768px) {
  .presentation {
    width: 648px;
  }

  .presentation__preview {
    min-height: 114px;
    width: 445px;
    margin-bottom: 67px;
    padding-top: 61px;
  }
}
@media (min-width: 1200px) {
  .presentation {
    width: 1200px;
  }

  .presentation__preview {
    min-height: 122px;
    margin-bottom: 65px;
    padding-top: 100px;
  }
}
.social {
  display: flex;
  width: 156px;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.social__item {
  width: 44px;
  height: 44px;
}

.social__link {
  display: block;
  height: 44px;
  background-color: #81b3d2;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.social__link--vkontakte {
  background-image: url("../img/index-mobile/vk.svg");
  background-size: 24px 24px;
}

.social__link--telegram {
  background-image: url("../img/index-mobile/tg.svg");
  background-size: 21px 17px;
}

.social__link--youtube {
  background-image: url("../img/index-mobile/youtube.svg");
  background-size: 20px 14px;
}

/*
.social__item {
  background-color: $blue;
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social__link {
  width: 100%;
  height: 100%;
}

.social__link--vkontakte {
  background-image: url("../img/index-mobile/vk.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.social__link--telegram {
  background-image: url("../img/index-mobile/tg.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.social__link--youtube {
  background-image: url("../img/index-mobile/youtube.svg");
  background-repeat: no-repeat;
  background-position: center;
}
*/
.title {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

.title--bright {
  color: #ffffff;
}

.title--lowercase {
  text-transform: none;
  text-align: start;
}

.title--nav {
  color: #ffffff;
}

.title--nav-current {
  color: #ffffff;
}

.title--big {
  font-size: 21px;
}

@media (min-width: 768px) {
  .title {
    font-size: 21px;
  }

  .title--lowercase {
    font-size: 18px;
  }

  .title--nav {
    color: #000000;
    font-size: 14px;
    line-height: 21px;
  }

  .title--nav-current {
    color: #766357;
    font-size: 14px;
    line-height: 21px;
  }

  .title--large {
    font-size: 30px;
    line-height: 26px;
  }
}
@media (min-width: 1200px) {
  .title--large {
    line-height: 30px;
  }
}
.video {
  width: 280px;
}

.video__interest {
  margin: 0 auto;
  padding-left: 2px;
}

.video__player {
  display: block;
}

.video__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.video__start--img {
  position: absolute;
  content: "";
  background-image: url("../img/catalog-mobile/polygon.svg");
  background-position: center;
  background-repeat: no-repeat;
  width: 48px;
  height: 54px;
  border: none;
}

@media (min-width: 768px) {
  .video {
    width: 648px;
  }

  .video__interest {
    padding: 0;
  }
}
@media (min-width: 1200px) {
  .video {
    width: 800px;
  }
}
.modal-form__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 280px;
}

.modal-form__container-review {
  min-height: 323px;
}

@media (min-width: 768px) {
  .modal-form__container {
    min-height: 347px;
    width: 400px;
  }

  .modal-form__container-review {
    width: 640px;
  }
}
.map {
  min-height: 350px;
}

.map__frame {
  display: block;
  border: none;
}

@media (min-width: 768px) {
  .map__frame {
    width: 100%;
  }
}
.button {
  display: block;
  background-color: #81b3d2;
  color: #ffffff;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  text-decoration: none;
  border: none;
  cursor: pointer;
  padding-top: 16px;
  padding-bottom: 16px;
}

@media (min-width: 768px) {
  .button {
    padding-top: 15px;
    padding-bottom: 18px;
  }
}
@media (min-width: 1200px) {
  .button {
    padding-top: 16px;
    padding-bottom: 17px;
  }
}
.copyright {
  display: flex;
  align-items: center;
  width: 129px;
}

.copyright__text {
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.copyright__link {
  margin-left: auto;
}

.card {
  width: 280px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  list-style-type: none;
}

.card__item {
  width: 280px;
  padding-top: 24px;
  padding-bottom: 25px;
  position: relative;
}

.card__photo-link {
  display: block;
  cursor: pointer;
  margin-bottom: 15px;
}

.card__photo-title {
  margin: 0;
  margin-bottom: 5px;
  padding: 0;
}

.card__photo-author {
  margin: 0;
  margin-bottom: 11px;
  padding: 0;
}

.card__photo-like {
  padding-left: 30px;
}

.card__photo-like--count::before {
  position: absolute;
  content: "";
  background-image: url("../img/catalog-mobile/like-icon.svg");
  background-position: center;
  background-repeat: no-repeat;
  width: 23px;
  height: 21px;
  bottom: 30px;
  left: 0;
}

@media (max-width: 767px) {
  .card__item::after {
    position: absolute;
    content: "";
    border-bottom: 1px solid #e5e5e5;
    width: 320px;
    bottom: 0;
    right: -20px;
  }
}
@media (min-width: 768px) {
  .card {
    flex-direction: row;
    width: 648px;
  }

  .card__item {
    width: 324px;
    padding-top: 0;
    padding-bottom: 15px;
    position: relative;
    background-color: #f2f2f2;
  }

  .card__item--colored {
    background-color: #eaeaea;
  }

  .card__photo-title {
    padding-left: 20px;
  }

  .card__photo-author {
    margin: 0;
    padding-left: 20px;
  }

  .card__photo-like {
    position: absolute;
    content: "";
    padding: 0;
    bottom: 27px;
    right: 20px;
  }

  .card__photo-like--count::before {
    bottom: 4px;
    left: -30px;
  }
}
@media (min-width: 1200px) {
  .card {
    width: 1200px;
  }

  .card__item {
    width: 400px;
  }
}
.photo-day {
  width: 280px;
  padding-top: 24px;
  padding-bottom: 25px;
  position: relative;
}

.photo-day__link {
  display: block;
  cursor: pointer;
  margin-bottom: 15px;
}

@media (max-width: 767px) {
  .photo-day::before {
    position: absolute;
    content: "";
    border-bottom: 1px solid #e5e5e5;
    width: 320px;
    top: 0;
    right: -20px;
  }

  .photo-day::after {
    position: absolute;
    content: "";
    border-bottom: 1px solid #e5e5e5;
    width: 320px;
    bottom: 0;
    right: -20px;
  }
}
.photo-day__photo-title {
  margin: 0;
  margin-bottom: 5px;
  padding: 0;
}

.photo-day__photo-author {
  margin: 0;
  margin-bottom: 11px;
  padding: 0;
}

.photo-day__photo-like {
  padding-left: 30px;
}

.photo-day__photo-like--count::before {
  position: absolute;
  content: "";
  background-image: url("../img/catalog-mobile/like-icon.svg");
  background-position: center;
  background-repeat: no-repeat;
  width: 23px;
  height: 21px;
  bottom: 30px;
  left: 0;
}

@media (min-width: 768px) {
  .photo-day {
    width: 648px;
    background-color: #f2f2f2;
    padding-top: 0;
    padding-bottom: 15px;
  }

  .photo-day__link {
    margin-bottom: 20px;
  }

  .photo-day__photo-title {
    padding-left: 20px;
  }

  .photo-day__photo-author {
    padding-left: 20px;
    margin: 0;
  }

  .photo-day__photo-like {
    position: absolute;
    content: "";
    padding: 0;
    bottom: 27px;
    right: 20px;
  }

  .photo-day__photo-like--count::before {
    bottom: 4px;
    left: -30px;
  }
}
@media (min-width: 1200px) {
  .photo-day {
    width: 1200px;
  }
}
/*# sourceMappingURL=style.css.map */