.hero-catalog__wrapper {
  background-color: #6999c1;
  background-image: url(img/catalog-mobile/hero-catalog.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
