@use "./blocks/fonts.scss";
@use "./base/global.scss";
@use "./blocks/page.scss";
@use "./blocks/advantages.scss";
@use "./blocks/main-header.scss";
@use "./blocks/description.scss";
@use "./blocks/field.scss";
@use "./blocks/form.scss";
@use "./blocks/hero-catalog.scss";
@use "./blocks/hero.scss";
@use "./blocks/main-container.scss";
@use "./blocks/main-footer.scss";
@use "./blocks/main-nav.scss";
@use "./blocks/presentaton.scss";
@use "./blocks/social.scss";
@use "./blocks/title.scss";
@use "./blocks/visually-hidden";
